# Import Modules

---

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6



---

# Pandas 53 | Membuat kategori baru menurut threshold

---

## Persiapan Data Frame

In [5]:
df = pd.DataFrame(
    {'Hobi' : ['Jogging', 'Mancing', 'Renang',
               'Mancing', 'Mancing', 'Baca',
               'Baca', 'Mancing', 'Fotografi',
               'Mancing', 'Camping']
     })
df

         Hobi
0     Jogging
1     Mancing
2      Renang
3     Mancing
4     Mancing
5        Baca
6        Baca
7     Mancing
8   Fotografi
9     Mancing
10    Camping


## Membuat kategori baru berdasarkan threshold (ambang batas)

In [6]:
df['Hobi'].value_counts()

Mancing      5
Baca         2
Jogging      1
Renang       1
Fotografi    1
Camping      1
Name: Hobi, dtype: int64

In [8]:
percentage = df['Hobi'].value_counts(normalize=True)
percentage

Mancing      0.454545
Baca         0.181818
Jogging      0.090909
Renang       0.090909
Fotografi    0.090909
Camping      0.090909
Name: Hobi, dtype: float64

In [9]:
threshold = 0.1
hobi_lain = percentage[percentage < threshold].index
hobi_lain

Index(['Jogging', 'Renang', 'Fotografi', 'Camping'], dtype='object')

In [10]:
df['Hobi'] = df['Hobi'].replace(hobi_lain, 'Lainnya')
df['Hobi']

0     Lainnya
1     Mancing
2     Lainnya
3     Mancing
4     Mancing
5        Baca
6        Baca
7     Mancing
8     Lainnya
9     Mancing
10    Lainnya
Name: Hobi, dtype: object

In [11]:
df['Hobi'].value_counts(normalize=True)

Mancing    0.454545
Lainnya    0.363636
Baca       0.181818
Name: Hobi, dtype: float64



---

# Pandas 54 | Menyimpan Data Frame sebagai file CSV

---

## Persiapan Data Frame

In [12]:
df = pd.DataFrame(
    {'Nama' : ['Bayu', 'Indra', 'Devi', 'Agni'],
     'Jenis_Kelamin' : ['L', 'L', 'P', 'L'],
     'Usia' : [23, 21, 22, 25]
     })
df

    Nama Jenis_Kelamin  Usia
0   Bayu             L    23
1  Indra             L    21
2   Devi             P    22
3   Agni             L    25


## Menyimpan Dataframe sebagai file **CSV**

In [13]:
df.to_csv('data_peserta.csv')

In [16]:
df = pd.read_csv('data_peserta.csv', index_col=0)
df

    Nama Jenis_Kelamin  Usia
0   Bayu             L    23
1  Indra             L    21
2   Devi             P    22
3   Agni             L    25

In [18]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read_csv('data_peserta.csv')
df

  Jenis_Kelamin  Usia
0             L    23
1             L    21
2             P    22
3             L    25



---

# Pandas 55 | Menghitung jumlah baris menurut kriteria tertentu

---

## Persiapan Data Frame

In [19]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  3  1  5  6
1  6  1  2  4  3
2  8  9  9  2  2
3  5  1  5  7  6
4  8  3  7  5  9
5  7  8  3  8  8
6  9  1  9  6  3
7  7  5  8  9  2
8  6  4  5  3  9
9  3  7  7  4  9


## Menghitung jumlah baris menurut kriteria tertentu

In [20]:
(df['A'] < 5).sum()

2

In [21]:
(df['A'] < 5).mean()

0.2



---

# Pandas 56 | Mengeluarkan kolom dari Data Frame

---

## Persiapan Data Frame

In [22]:
df = pd.DataFrame(
    {'Nama' : ['Bayu', 'Indra', 'Devi', 'Agni'],
     'Jenis_Kelamin' : ['L', 'L', 'P', 'L'],
     'Usia' : [23, 21, 22, 25]
     })
df

    Nama Jenis_Kelamin  Usia
0   Bayu             L    23
1  Indra             L    21
2   Devi             P    22
3   Agni             L    25


## Mengeluarkan kolom dari Dataframe
-> Menggunakan fungsi pop

In [23]:
usia = df.pop('Usia').to_frame()

In [24]:
df

    Nama Jenis_Kelamin
0   Bayu             L
1  Indra             L
2   Devi             P
3   Agni             L

In [25]:
usia

   Usia
0    23
1    21
2    22
3    25