# Import Modules

---

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6



---

# Pandas 49 | Seleksi kolom dengan f-string

---

## Persiapan Data Frame

In [2]:
df = pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa


## Seleksi kolom dengan **f-string**

In [5]:
df['SepalLengthCm'].to_frame().head()

   SepalLengthCm
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0

In [6]:
part = 'Sepal'
df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [7]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [8]:
part = 'Petal'
df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4



---

# Pandas 50 | Membuat kolom baru dengan for loop dan f-string

---

## Persiapan Data Frame

In [9]:
d = {
    'penjual' : ['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'],
    'barang' : ['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']
}

df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor


## Membuat kolom baru dengan **for loop** dan **f-string**

In [10]:
cols = ['penjual', 'barang']

for col in cols :
  df[f'count_tiap{col}'] = df.groupby(col).cumcount()+1

df

  penjual    barang  count_tiappenjual  count_tiapbarang
0    bejo   monitor                  1                 1
1    tejo   monitor                  1                 2
2    wati  keyboard                  1                 1
3    bejo     mouse                  2                 1
4   cecep  keyboard                  1                 2
5    tejo   monitor                  2                 3
6    wati    laptop                  2                 1
7    bejo   monitor                  3                 4



---

# Pandas 51 | Seleksi Baris dengan between

---

## Persiapan Data Frame

In [14]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size = (n_rows, n_cols)), columns = cols)
df

    A   B   C   D   E
0   4   5   8  14  11
1  16  19   4   5   5
2   8  10   8  11  14
3   2  12   9   6   1
4   9  13  14  15  12
5   1  19  15  19   5
6  18   7  15   5   6
7  16   8  10   8  15
8  12  12   7   3  16
9  16  18  15  10  10


## Seleksi baris dengan **between**

In [17]:
df[df['A'].between(2, 5)] # Dalam keadaan inclusive, jadi 2 & 5 termasuk

   A   B  C   D   E
0  4   5  8  14  11
3  2  12  9   6   1

In [18]:
df[df['A'].between(2, 5, inclusive=False)] # Dalam keadaan exclusive, jadi 2 & 5 tidak termasuk

<ipython-input-18-ffc0b2779db0>:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)] # Dalam keadaan exclusive, jadi 2 & 5 tidak termasuk

   A  B  C   D   E
0  4  5  8  14  11



---

# Pandas 52 | Transformasi kolom menjadi baris

---

## Persiapan Data Frame

In [19]:
d = {
    'kode_area' : [123, 456, 789, 321],
     'pabrik' : [4, 2, 5, 6],
     'gudang' : [2, 4, 7, 3],
     'toko' : [64, 32, 15, 24]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang  toko
0        123       4       2    64
1        456       2       4    32
2        789       5       7    15
3        321       6       3    24


## Transformasi kolom menjadi baris

In [20]:
df = df.melt(
    id_vars='kode_area',
    var_name='jenis_bangunan',
    value_name='jumlah'
)

df

    kode_area jenis_bangunan  jumlah
0         123         pabrik       4
1         456         pabrik       2
2         789         pabrik       5
3         321         pabrik       6
4         123         gudang       2
5         456         gudang       4
6         789         gudang       7
7         321         gudang       3
8         123           toko      64
9         456           toko      32
10        789           toko      15
11        321           toko      24